.signupCardContainer {
  width: 900px;
  height: 600px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signupCardMain {
  display: flex;
  width: 100%;
  height: 100%;
}

.signupDesign {
  flex: 5;
  height: 100%;
}

.interview {
  height: 100%;
  width: 100%;
}

.signupArea {
  flex: 6;
}

.navbar {
  height: 5rem;
  font-size: 30px;
  color: #0099ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.signupForm {
  height: 36.1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
